h1 {
    margin: auto;
    text-align: center;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

th {
    background: #428bfe;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child, td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #9dd1f8;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

#formAdd {
    margin: auto;
    text-align: center;
}

#submitAdd {
    border: none;
    padding: 0;
    font-size: 15px;
    color: #428bfe;
    background-color: transparent;
    text-decoration: underline;
}

button {
    display: inline-block;
    width: 100px;
    padding: 8px;
    color: #000;
    border: 1px solid #a8bcf8;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #9dd1f8;
}

button:hover,
button:active {
    background-color: #428bfe;
    color: #f3f7fe;
}

.formAction {
    position: relative;
    z-index: 1;
    background: #9dd1f8;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    float:left;
}

.field {
    clear: both;
    text-align: center;
    line-height: 2;
}

.lb {
    float: none;
}

.in {
    width: 100%;
    height: 35px;
    padding-left: 2px;
    border: none;
    background: rgb(244, 248, 246);
}




