<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/admin.css}">
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<p>
<form action="admin/new" class="formAction" method="POST">
    <div class="field">
        <label class="lb">Name: </label>
        <input class="in" type="text" th:field="${user.name}"/>
    </div>
    <div class="field">
        <label class="lb">Email: </label>
        <input class="in" type="text" th:field="${user.email}"/>
    </div>
    <div class="field">
        <label class="lb">Password: </label>
        <input class="in" type="text" th:field="${user.password}"/>
    </div>
    <div class="field">
        <label class="lb">Roles: </label>
        <select class="in" th:field="${user.roles}" multiple size="3">
            <option th:each="role : ${roleList}"
                    th:value="${role.role}"
                    th:text="${role.role}">
            </option>
        </select>
    </div>
    <div class="field">
        <button type="submit" value="add">Create</button>
    </div>
</form>
</p>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th>roles</th>
        <th>Action</th>
    </tr>
    <tr th:block th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>
        <td>
            <form action="/admin" method="POST">
                <button type="submit" name="id" th:value="${user.id}">Delete</button>
            </form>
            <form action="admin/edit" method="get">
                <button type="submit" name="id" th:value="${user.id}">Update</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>